*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: #3e9696;
    --color-bg: #cc8f8f6c;
}

#screen{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#container{
    width: 450px;
    height: 450px;
    background-color: #cc8f8f6c;
    position: relative;
}

.block{
    width: 100px;
    height: 100px;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    border-radius: 20px;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

#buttonContainer .btn{
    color: black;
    background-color: orange;
    padding: 6px 12px;
    border-radius: 14px;
}